body{
  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:radial-gradient(circle at top, #f1f1f1, #cfcfcf);
}

.bowl{
  position:relative;
  width:320px;
  height:320px;
  background:#f8f8f8;
  box-sizing:border-box;
  border:6px solid #ffffff;
  border-radius:50%;
  box-shadow:0 10px 24px rgba(0,0,0,.25);
}

.soup{
  position:absolute;
  top:18px;
  left:18px;
  width:284px;
  height:284px;
  background:#9e1c1c;
  border-radius:50%;
}

.meat{
  position:absolute;
  background:#4b2a1a;
  border-radius:20px;
}

.m1{
  width:90px;
  height:60px;
  top:90px;
  left:70px;
  transform:rotate(-12deg);
}

.m2{
  width:80px;
  height:55px;
  top:140px;
  left:110px;
  transform:rotate(8deg);
}

.m3{
  width:70px;
  height:50px;
  top:120px;
  left:40px;
  transform:rotate(15deg);
}


.green{
  position:absolute;
  background:#3f8f5a;
  border-radius:60% 40% 70% 30%;
}

.g1{
  width:120px;
  height:160px;
  top:70px;
  right:40px;
}

.g2{
  width:100px;
  height:140px;
  top:110px;
  right:60px;
  transform:rotate(-10deg);
}
